.row {
	display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
    margin-top: 35px;
}

.loginsec {
	margin-bottom: 3rem!important;
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    display: block;
}

@media (min-width: 992px) {
	.loginsec {
    flex: 0 0 100%;
    max-width: 100%;
    }
}

.loginfill {
	border: 1px solid #e4e4e4;
    padding: 1.5rem;
    box-shadow: 0 3px 24px rgb(0 0 0 / 4%);
    display: block;
}

.title {
   display: block;
}

.title h5 {
	color: #202120;
	font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    margin: 0px;
    line-height: 1.2;
    padding-right: 15vw;
}


.formgroup {
	margin-bottom: 0!important;
	display: block;
}

.formgroup input {
	background: #f3f3f3;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    color: #131313;
    font-size: 13px;
    min-height: 63px;
    line-height: 33px;
    padding: 10px 30px;
    font-weight: 500;
    margin: 0;
}

.mainbtn {
	margin-top: 10px;
	background-color: #FFE06C;
    border-color: #FFE06C;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    color: #202120;
    text-transform: uppercase;
    transition: all 0.3s ease-out 0s;
    padding: 0 45px;
    border: 2px solid;
    position: relative;
    height: 60px;
    line-height: 60px;
    -webkit-appearance: button;
}

.mainbtn:hover {
	transition: 0.2s ease;
	background-color: transparent;
}

.mainbtn::before {
	width: 10px;
    height: 2px;
    position: absolute;
    right: 10px;
    top: 10px;
    content: '';
    background-color: #202120;
    transition: all 0.3s ease-out 0s;
}

.mainbtn::after {
	background-color: #202120;
	position: absolute;
    right: 10px;
    top: 10px;
    height: 10px;
    width: 2px;
    content: '';
    transition: all 0.3s ease-out 0s;
}
