.shopsection {
	padding-bottom: 9px;
	padding-top: 0!important;
	display: block;
}

.shopsectionmain {
    padding-bottom: 120px;
    padding-top: 0!important;
    display: block;
    margin-top: 50px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

@media (min-width: 1200px) {
	.container {
    max-width: 1170px;
	}
}

@media (max-width: 1199px) {
	.container {
    max-width: 960px;
	}
}

@media (max-width: 768px) {
	.container {
    max-width: 720px;
	}
}

@media (max-width: 576px) {
	.container {
    max-width: 540px;
	}
}

.sectitle {
	margin-bottom: 80px;
	text-align: center!important;
	display: block;
}

.sectitle h2 {
	font-size: 48px;
    text-transform: uppercase;
    line-height: 1.2;
    letter-spacing: -1px;
    color: #202120;
    font-family: 'Lora', serif;
    font-weight: 700;
    margin: 0px;
    text-align: center!important;
}

.titletag {
	padding-left: 50px;
    padding-right: 50px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #202120;
    color: #fff;
    font-family: 'IBM Plex Mono', monospace, sans-serif;
    line-height: 1;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    text-align: center!important;
}

.titletag::before {
	position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 30px;
    background-color: #fff;
    content: '';
}

.titletag::after {
	left: auto;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 2px;
    width: 30px;
    background-color: #fff;
    content: '';
}

.shopholder {
	display: block;
	margin: 0;
    padding: 0;
}

.selector {
	background-color: #202120;
	justify-content: space-between!important;
	border: 0!important;
	display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

@media (max-width: 840px) {
    .selectorlink {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
	.selector {
    flex-direction: column;
	}
}

.selector a {
	cursor: default;
}

.selectoritem {
	margin-bottom: 0;
	list-style: none;
}

.selectoritem:active > .selectorlink {
	border-color: #FFE06C;
    color: #FFE06C;
    background-color: transparent;
}

.selectorlink {
	border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-left: 9px;
    font-size: 25px;
    border-bottom: 2px solid transparent;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    padding: 12px 25px;
    cursor: pointer;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    display: block;
}

.selectorlinkcenter {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 27px;
    margin-left: 75px;
    border-bottom: 2px solid transparent;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    padding: 12px 25px;
    cursor: pointer;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    display: block;
}

@media screen and (max-width: 1200px) {
    .selectorlink {
        font-size: 20px;
    }

    .selectorlinkcenter {
        font-size: 20px;
    }
}

.itemholder {
	position: relative;
    height: 1044px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.shopitems1 {
	position: absolute;
    left: 0%;
    top: 0px;
}

.shopitems2 {
	position: absolute;
    left: 33.3333%;
    top: 0px;
}

.shopitems3 {
	position: absolute;
    left: 66.6667%;
    top: 0px;
}

.shopitems4 {
	position: absolute;
    left: 0%;
    top: 544px;
}

.shopitems5 {
	position: absolute;
    left: 33.3333%;
    top: 544px;
}

.shopitems6 {
	position: absolute;
    left: 66.6667%;
    top: 544px;
}

.shopitems4,
.shopitems5,
.shopitems6 {
	padding-top: 25px;
}

@media (min-width: 992px) {
	.shopitems1,
	.shopitems2,
	.shopitems3,
	.shopitems4,
	.shopitems5,
	.shopitems6 {
    	flex: 0 0 33.333333%;
    	max-width: 33.333333%;
    	width: 100%;
    	padding-right: 15px;
    	padding-left: 15px;
    	display: block;
	}
}

@media (max-width: 991px) {
	.shopitems1,
	.shopitems2,
	.shopitems3,
	.shopitems4,
	.shopitems5,
	.shopitems6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 25px;
	}

    .shopsection {
        height: 1800px;
    }

    .shopsectionmain {
        height: 1800px;
    }
}

@media (max-width: 991px) {
	.shopitems2 {
      left: 50%;
	}

	.shopitems3 {
      left: 0%;
      top: 498px;
	}

	.shopitems4 {
      left: 50%;
      top: 498px;
	}

	.shopitems5 {
      left: 0%;
      top: 996px;
	}

	.shopitems6 {
      left: 50%;
      top: 996px;
	}

}

@media (max-width: 768px) {
	.shopitems1 {
		left: 25%;
	}

    .selectorlinkcenter {
    margin-left: 0px;
    }

	.shopitems2 {
      left: 25%;
      top: 522px;
	}

	.shopitems3 {
      left: 25%;
      top: 1044px;
	}

	.shopitems4 {
      left: 25%;
      top: 1566px;
	}

	.shopitems5 {
      left: 25%;
      top: 2088px;
	}

	.shopitems6 {
      left: 25%;
      top: 2610px;
	}

	.ratestars {
		visibility: hidden;
	}

    .shopsection {
        height: 3500px;
    }

    .shopsectionmain {
        height: 3500px;
    }

}


.indgrid {
	padding: 25px;
    background-color: #fff;
    border: 2px solid #e1f3ff;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    border-radius: 0;
    overflow: hidden;
    z-index: 1;
    transition: all .3s ease 0s;
    background: #f7f7f7;
    display: block;
}

.productimage {
	margin: 0 0 20px;
    overflow: hidden;
    transition: .3s;
    position: relative;
    display: block;
}

.productimage:hover > .shopbutton {
	visibility: visible;
}

.shopdetails {
	display: block;
    text-decoration: none;
    color: #FFE06C;
    transition: all 0.3s ease-out 0s;
}

.shopbutton {
	opacity: 1;
    visibility: hidden;
    top: 130px;
    position: absolute;
    left: 50%;
    display: flex;
    width: 100%;
    justify-content: center;
    transform: translateX(-50%);
    transition: .3s;
}

.shopsingbutton {
	padding: 0 30px;
    height: 55px;
    line-height: 52px;
    display: inline-flex;
    background-color: #FFE06C;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    color: #202120;
    text-transform: uppercase;
    transition: all 0.3s ease-out 0s;
    border: 2px solid #FFE06C;
    position: relative;
    height: 60px;
}

.shopbutton:hover {
	visibility: visible;
}

.shopsingbutton::before {
    background-color: #202120;
    width: 10px;
    height: 2px;
    position: absolute;
    right: 10px;
    top: 10px;
    content: '';
    transition: all 0.3s ease-out 0s;
}

.shopsingbutton:hover {
	transition: 0.2s ease;
	background: #fff;
	border: 2px solid #fff;
}

.shopsingbutton::after {
	background-color: #202120;
	position: absolute;
    right: 10px;
    top: 10px;
    height: 10px;
    width: 2px;
    content: '';
    transition: all 0.3s ease-out 0s;
}

.ratestars {
	position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    color: #FFD700;
    font-size: 24px;
}

.productcontent {
	padding: 0!important;
	display: block;
}

.productcontent p {
	margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    line-height: 24px;
}

.producttitle {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: -1px;
    word-break: break-word;
    font-weight: 700;
    line-height: 1.3;
    display: block;
    color: #707070;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Oswald', sans-serif;
}

.productprice {
    color: #FFD06C;
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Oswald', sans-serif;
    margin: 0 0 20px 0;
    display: block;
}

.pricingsection {
  padding: 54px 0 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fafafa;
}

.pricingcontainercard {
  background-color: #f39f86;
background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.3);
  width: 325px;
  height: 625px;
  text-decoration: none;
  border: 4px solid #202120;
}


.pricingcontainercardmiddle {
  transform: scale(1.05);
  background: #242424;
  box-shadow: 2px;
  width: 325px;
  height: 700px;
  text-decoration: none;
  border-radius: 4px;
}

.pricingcontainercard:hover {
  transform: scale(1.02);
  transition: all 0.3s ease-out;
  color: #1c2237;
}

.pricingcontainercardmiddle {
  margin: 0 18px;
}

.pricingcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricingwrapper {
  display: flex;
  flex-direction: column;
  flex: start;
  margin: 0 auto;
}

.pricingheading {
  color: #1c2237;
  margin-bottom: 24px;
}

.pricingcontainercardinfo {
  display: flex;
  flex-direction: column;
  height: 650px;
  padding: 24px;
  align-items: center;
  color: #202120;
}

.pricingcontainercardinfomiddle {
  display: flex;
  flex-direction: column;
  height: 650px;
  padding: 24px;
  align-items: center;
  color: #fff;
}

.parap {
    margin-bottom: 1px!important;
}

.pricingcontainercardinfo h3 {
  margin-bottom: 5px;
  font-size: 24px;
  margin-top: 0px;
}

.pricingcontainercardinfo h4 {
  font-size: 40px;
  margin: 0px;
}

.pricingcontainercardinfo p {
  font-size: 14px;
  margin-bottom: 24px;
  margin-top: 0px;
}

.pricingcontainercardinfomiddle h3 {
  margin-bottom: 5px;
  font-size: 24px;
  margin-top: 0px;
}

.pricingcontainercardinfomiddle h4 {
  font-size: 40px;
  margin: 0px;
}

.pricingcontainercardinfomiddle p {
  font-size: 14px;
  margin-bottom: 24px;
  margin-top: 0px;
}

.pricingcontainerfeatures {
  margin: 16px 0 32px;
  list-style: none;
}
.pricingcontainerfeatures1 {
  margin: 16px 0 32px;
  list-style: none;
}
.pricingcontainerfeaturesm {
  margin: 9px 0 32px;
  list-style: none;
  padding-left: 0px;
}

.pricingcontainerfeatures li {
  margin-bottom: 5px;
  font-weight: 700;
  font-family:'IBM Plex Mono', monospace, sans-serif;
  font-size: 20px;
}
.pricingcontainerfeatures1 li {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  font-family:'IBM Plex Mono', monospace, sans-serif;
}

.pricingcontainerfeaturesm li {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  font-family:'IBM Plex Mono', monospace, sans-serif;
}

.pricingcontainerfeaturesm p {
    font-size: 12px;
    margin-bottom: 9px!important;
}

.pricingcontainerfeatures {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}
.pricingcontainerfeatures1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.icon {
  margin: 15px 0px 0px 0px;
  font-size: 64px;
}

.iconm {
  margin: 0px 0px 0px 0px;
  font-size: 64px;
}


.btn {
  padding: 12px 64px;
  font-size: 20px;
  background-color: #242424;
  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn:hover {
  color: #fff;
  background-color: #f00946;
  transition: all 0.2s ease-out;
}

.btnmiddle {
  padding: 12px 64px;
  font-size: 20px;
  background-color: #276afb;
  color: #fff;
  border: none;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btnmiddle:hover {
  color: black;
  background-color: #E9E9E9;
  transition: all 0.2s ease-out;
}

.bigboy {
    font-size: 20px!important;
}

@media screen and (max-width: 1100px) {
    .pricingcontainercard {
        width: 290px;
    }
}


@media screen and (max-width: 960px) {
  .pricingcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .pricingwrapper {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricingcontainercardmiddle {
    transform: scale(1);
    margin: 24px;
  }

  .pricingcontainercard:hover {
    transform: none;
  }
}

